<ul>

    {% block content %}
    {% for searchHit in searchHits %}
    {%  set content = searchHit.valueObject %}

    <h1>
        <a href="{{ path("ez_urlalias", {"contentId": content.versionInfo.contentInfo.id}) }}">
            {{ ez_content_name(content) }}


        </a>
        {% set content_id_sport = ez_field_value(content, "sport") %}

        {{ render(controller("ez_content:viewAction", { "contentId": content_id_sport, "viewType": "mini_vue"})) }}
        {% endfor %}

        {% endblock %}
</ul>